.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
tsconfig.json
.prettierrc
.prettierignore
webpack.config.js
public/cypress_runner_big.png
public/cypress_runner_logo.png
**/.eslintrc.json
**/*.map
**/*.ts